
@{
    Layout = null;
}
@*<script>
    $(document).ready(function () {
        $(".LoaderWorkingDiv").hide();
    });
</script>*@
<style>
    .LoaderWorkingDiv{
    position: relative;
    background: white;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
</style>
<link href="~/css/loader.css" rel="stylesheet" />
 <div class="LoaderWorkingDiv"> 
    <div><div class='lds-css ng-scope'><div style='margin:auto; z-index:99;' class='lds-double-ring'><div></div><div></div></div></div></div>

    @*<div>
        <h3>@Localize.T("Please wait")</h3>
        <h4>@Localize.T("We are fetching your data")</h4>
    </div>*@
</div>

