@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.lds-double-ring {
    position: relative;
}

    .lds-double-ring div {
        position: absolute;
        width: 160px;
        height: 160px;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        border: 8px solid #000;
        border-color: #2ca01c transparent #2ca01c transparent;
        -webkit-animation: lds-double-ring 3.1s linear infinite;
        animation: lds-double-ring 3.1s linear infinite;
    }

        .lds-double-ring div:nth-child(2) {
            width: 140px;
            height: 140px;
            top: 30px;
            left: 30px;
            border-color: transparent #108000 transparent #108000;
            -webkit-animation: lds-double-ring_reverse 3.1s linear infinite;
            animation: lds-double-ring_reverse 3.1s linear infinite;
        }

.lds-double-ring {
    width: 128px !important;
    height: 128px !important;
    -webkit-transform: translate(-64px, -64px) scale(0.64) translate(64px, 64px);
    transform: translate(-64px, -64px) scale(0.64) translate(64px, 64px);
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    margin: auto;
}






@-webkit-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-webkit-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-moz-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-ms-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-moz-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-webkit-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@-o-keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

@keyframes uilsquare {
    0% {
        background-color: #a640bf;
    }

    1% {
        background-color: #ec17ff;
    }

    11% {
        background-color: #ec17ff;
    }

    21% {
        background-color: #a640bf;
    }

    100% {
        background-color: #a640bf;
    }
}

.uil-squares-css {
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
}

    .uil-squares-css div {
        position: absolute;
        z-index: 1;
        width: 40px;
        height: 40px;
        background-color: #a640bf;
    }

        .uil-squares-css div > div {
            position: absolute;
            top: 0;
            left: 0;
            -ms-animation: uilsquare 1s linear infinite;
            -moz-animation: uilsquare 1s linear infinite;
            -webkit-animation: uilsquare 1s linear infinite;
            -o-animation: uilsquare 1s linear infinite;
            animation: uilsquare 1s linear infinite;
            width: 40px;
            height: 40px;
        }

    .uil-squares-css > div:nth-of-type(1) {
        top: 30px;
        left: 30px;
    }

        .uil-squares-css > div:nth-of-type(1) > div {
            -ms-animation-delay: 0s;
            -moz-animation-delay: 0s;
            -webkit-animation-delay: 0s;
            -o-animation-delay: 0s;
            animation-delay: 0s;
        }

    .uil-squares-css > div:nth-of-type(2) {
        top: 30px;
        left: 80px;
    }

        .uil-squares-css > div:nth-of-type(2) > div {
            -ms-animation-delay: 0.125s;
            -moz-animation-delay: 0.125s;
            -webkit-animation-delay: 0.125s;
            -o-animation-delay: 0.125s;
            animation-delay: 0.125s;
        }

    .uil-squares-css > div:nth-of-type(3) {
        top: 30px;
        left: 130px;
    }

        .uil-squares-css > div:nth-of-type(3) > div {
            -ms-animation-delay: 0.25s;
            -moz-animation-delay: 0.25s;
            -webkit-animation-delay: 0.25s;
            -o-animation-delay: 0.25s;
            animation-delay: 0.25s;
        }

    .uil-squares-css > div:nth-of-type(4) {
        top: 80px;
        left: 130px;
    }

        .uil-squares-css > div:nth-of-type(4) > div {
            -ms-animation-delay: 0.375s;
            -moz-animation-delay: 0.375s;
            -webkit-animation-delay: 0.375s;
            -o-animation-delay: 0.375s;
            animation-delay: 0.375s;
        }

    .uil-squares-css > div:nth-of-type(5) {
        top: 130px;
        left: 130px;
    }

        .uil-squares-css > div:nth-of-type(5) > div {
            -ms-animation-delay: 0.5s;
            -moz-animation-delay: 0.5s;
            -webkit-animation-delay: 0.5s;
            -o-animation-delay: 0.5s;
            animation-delay: 0.5s;
        }

    .uil-squares-css > div:nth-of-type(6) {
        top: 130px;
        left: 80px;
    }

        .uil-squares-css > div:nth-of-type(6) > div {
            -ms-animation-delay: 0.625s;
            -moz-animation-delay: 0.625s;
            -webkit-animation-delay: 0.625s;
            -o-animation-delay: 0.625s;
            animation-delay: 0.625s;
        }

    .uil-squares-css > div:nth-of-type(7) {
        top: 130px;
        left: 30px;
    }

        .uil-squares-css > div:nth-of-type(7) > div {
            -ms-animation-delay: 0.75s;
            -moz-animation-delay: 0.75s;
            -webkit-animation-delay: 0.75s;
            -o-animation-delay: 0.75s;
            animation-delay: 0.75s;
        }

    .uil-squares-css > div:nth-of-type(8) {
        top: 80px;
        left: 30px;
    }

        .uil-squares-css > div:nth-of-type(8) > div {
            -ms-animation-delay: 0.875s;
            -moz-animation-delay: 0.875s;
            -webkit-animation-delay: 0.875s;
            -o-animation-delay: 0.875s;
            animation-delay: 0.875s;
        }


/*Loader for notification bar*/
.notification_loader_container {
    width: 100%;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification_loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #2ca01c;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
